# Modeling

The idea will be to split the data into train and test and see if we can predict the closure of a restaurant based on the attributes.

In [7]:
#Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV, cross_val_score  
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC, LinearSVC

from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix, accuracy_score

In [8]:
data = pd.read_csv('data.csv')

In [9]:
data.describe()

,Unnamed: 0,attributes.Ambience.divey,attributes.Dietary Restrictions.vegan,attributes.Happy Hour,attributes.Order at Counter,attributes.Outdoor Seating,attributes.Alcohol,attributes.Ambience.classy,attributes.Parking.lot,attributes.Ambience.touristy,...,attributes.Ambience.intimate,attributes.Good For.latenight,attributes.Good For.dinner,attributes.Good for Kids,attributes.Parking.validated,attributes.Has TV,attributes.Ambience.casual,attributes.Good For Groups,attributes.Ambience.romantic,attributes.Ambience.upscale
count,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,...,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000,18325.000000
mean,9162.000000,0.020518,0.003383,0.057080,0.011241,0.327585,0.536426,0.015007,0.539482,0.005184,...,0.005948,0.036344,0.397435,0.809986,0.003547,0.462156,0.502483,0.847749,0.009277,0.007040
std,5290.116177,0.141769,0.058070,0.232003,0.105431,0.469345,0.498685,0.121583,0.498452,0.071816,...,0.076897,0.187149,0.489381,0.392322,0.059453,0.498579,0.500007,0.359274,0.095872,0.083609
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4581.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,9162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,13743.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,18324.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
#Shuffle dataset

data = data.sample(frac=1, random_state=25).reset_index(drop=True)

In [14]:
#preprocessing & split data into y, X and then into train and test.
def preprocess_inputs(dataframe):
    #Split y, X
    y= dataframe['open']
    X=dataframe.drop('open', axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.7, shuffle=True, random_state=25)
    return X_train, X_test, y_train, y_test

In [15]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [16]:
y_train.value_counts()

1    10358
0     2469
Name: open, dtype: int64