# Data Wrangling

This notebook will be used to acquire and perform wrnagling exploration for the data to be used in this study. I test using the Yelp API but

In [ ]:
import requests
from dotenv import load_dotenv
from pathlib import Path

dotenv_path = Path('./YelpAPIKey.env')

load_dotenv(dotenv_path=dotenv_path)

API_CLIENT_ID = os.getenv('Yelp_Client_ID')
API_CLIENT_KEY = os.getenv('Yelp_API_Key')

In [ ]:
# Example business ID
business_ids = '0qNpTGTcqPwOLi2hADx4Xw'

ENDPOINT_BUSINESS = 'https://api.yelp.com/v3/businesses/search'
ENDPOINT_REVIEWS = 'https://api.yelp.com/v3/businesses/{}/reviews'.format(business_ids)

HEADERS = {'Authorization': 'bearer %s' % API_CLIENT_KEY}

In [ ]:
response = requests.get(url=ENDPOINT_REVIEWS, headers=HEADERS)

In [ ]:
data_test = response.json()
print(data_test)

#### After trying the API, there are a few issues that I do not want to deal with: 
- The text is limited to 120 characters which will significantly worsen my sentiment analysis
- The API only allows 5,000 calls per 24 hours which owuld make data collection take a long time
- Yelp offers their open dataset with vastly more business and reviews data for free for educational purposes

I will import that data and use it for the study instead.

In [2]:
import patoolib
import tarfile
import os
import json
import csv
import pandas as pd

path = r'C:\Users\ziggy\Springboard\Python_Projects\Yelp Restaurant Analysis\Data'

In [111]:
os.chdir(path)

t1 = os.listdir('.')[1]
t1

'Dataset_User_Agreement.pdf'

In [112]:
tar = tarfile.open(t1)
tar.extractall()
tar.close()

ReadError: file could not be opened successfully

In [5]:
business_json_path = r'C:\Users\ziggy\Springboard\Python_Projects\Yelp Restaurant Analysis\Data\yelp_academic_dataset_business.json'
df_b = pd.read_json(business_json_path, lines=True)

ValueError: Expected object or value

In [4]:
df_b.head()

NameError: name 'df_b' is not defined

##### The first step will be to get the infomration about restaurants.
I will need to use the categories column to filter all the data to: "Food", "restaurants", etc. 

I will then be able to create a dataframe that is specific to restaurants with business Ids that I can match to the reviews for the sentiment analysis. 

I will then be able to see if there is any correlation between attributes and ratings, geosptial analysis for the types of businesses. etc.

In [26]:
df_b.categories

0         Doctors, Traditional Chinese Medicine, Naturop...
1         Shipping Centers, Local Services, Notaries, Ma...
2         Department Stores, Shopping, Fashion, Home & G...
3         Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                                 Brewpubs, Breweries, Food
                                ...
150341                           Nail Salons, Beauty & Spas
150342    Pets, Nurseries & Gardening, Pet Stores, Hobby...
150343    Shopping, Jewelry, Piercing, Toy Stores, Beaut...
150344    Fitness/Exercise Equipment, Eyewear & Optician...
150345    Beauty & Spas, Permanent Makeup, Piercing, Tattoo
Name: categories, Length: 150346, dtype: object

In [27]:
pattern = 'food|restaurant'
df_food = df_b['categories'].str.contains(pattern, case=False, na=False)

In [28]:
df_r = df_b[df_food]

In [29]:
df_r.describe()

           latitude     longitude         stars  review_count       is_open
count  64629.000000  64629.000000  64629.000000  64629.000000  64629.000000
mean      36.969005    -88.096469      3.545962     76.600891      0.690000
std        6.019033     14.025379      0.853905    173.369068      0.462497
min       27.564457   -120.083748      1.000000      5.000000      0.000000
25%       32.207352    -90.247514      3.000000     12.000000      0.000000
50%       39.479360    -86.048740      3.500000     28.000000      1.000000
75%       39.958126    -75.346993      4.000000     75.000000      1.000000
max       53.679197    -74.661348      5.000000   7568.000000      1.000000

In [1]:
categories = pd.DataFrame(df_r[['categories', 'stars']])

NameError: name 'pd' is not defined

##### Initial thoughts
The average rating is 3.54.

In [30]:
df_r.isna().sum()

business_id        0
name               0
address            0
city               0
state              0
postal_code        0
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
attributes       877
categories         0
hours           9336
dtype: int64

###### Inerestingly, within our data there are several establishments missing information for attributes and hours. I am going to drop them in the interest of moving on with the analysis. I was hoping there might be some was to use the missing store hours to show restaruatns that had closed down but that is what the "is_open" column is for.

In [31]:
df_r[df_r['hours'].isnull()]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
24,4iRzR7OaS-QaSXuvYxEGKA,Super Dog,1160 Gallatin Pike S,Nashville,TN,37115,36.248570,-86.719986,4.0,6,0,"{'RestaurantsReservations': 'False', 'Restaura...","Hot Dogs, Restaurants",None
36,2xVsWBNFwZOxIOdd9Mwnww,Cheeseburger In Paradise,116 N Pottstown Pike,Exton,PA,19341,40.029962,-75.630607,2.5,20,0,"{'NoiseLevel': 'u'average'', 'HasTV': 'True', ...","Restaurants, Burgers",None
54,0qNpTGTcqPwOLi2hADx4Xw,Charlie's Market,2815 E Sligh Ave,Tampa,FL,33610,28.010360,-82.430042,3.0,9,1,"{'BusinessParking': '{'garage': False, 'street...","Food, Grocery, Convenience Stores",None
62,L_TT0BFmFwORAMaA83K54A,Village Tap Room,838 Broad Ripple Ave,Indianapolis,IN,46220,39.869911,-86.143577,2.5,23,0,"{'Alcohol': 'u'none'', 'BestNights': '{'monday...","Gastropubs, Cocktail Bars, Beer Bar, Bars, Res...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150261,Y0TWCjiiXlFi2XO2cFrUzQ,Connexxions Cafe,12644 137 Avenue NW,Edmonton,AB,T5L 4Y5,53.600573,-113.540273,4.5,13,0,"{'RestaurantsReservations': 'True', 'Alcohol':...","Hobby Shops, Tabletop Games, Coffee & Tea, Foo...",None
150262,-bZQH8yjm7ntTyGeLQwh8Q,Farmer's Kitchen Restaurant,3500 E Bay Dr,Largo,FL,33771,27.916787,-82.750395,4.0,6,0,"{'RestaurantsReservations': 'True', 'Restauran...","Sandwiches, Restaurants, Diners",None
150272,8BUr8GviR2o_b-brO21wwQ,Kyle's Isla Vista,900 Embarcadero Del Mar,Isla Vista,CA,93117,34.412966,-119.856886,2.5,12,1,"{'OutdoorSeating': 'True', 'BusinessAcceptsBit...","Restaurants, Burgers, Food, Ice Cream & Frozen...",None
150273,awRAcg8-5OqlULhDiIEFfA,Rustica Restaurant Pizzera,5860 York Rd,New Hope,PA,18938,40.346275,-75.035753,3.0,21,0,"{'Alcohol': 'u'none'', 'HasTV': 'True', 'Outdo...","Pizza, Restaurants",None
150287,VZbkSeZtFynEascotq7ExA,Ali Baba Magic Food,37TH And Walnut,Philadelphia,PA,19104,39.953391,-75.196765,4.0,8,0,"{'GoodForKids': 'False', 'RestaurantsReservati...","Restaurants, Food Stands",None

In [32]:
df_res = df_r.dropna()

In [33]:
df_res.to_csv('Restaurants')

In [66]:
df_business_ids = df_res.business_id

In [64]:
df_buisness_ids.head()

3     MTSW4McQd7CbVtyjqoe9mw
4     mWMc6_wTdE0EUBKIGXDVfA
5     CF33F8-E6oudUQ46HnavjQ
9     bBDDEgkFA1Otx9Lfe7BZUQ
11    eEOYSgkmpB90uNA7lDOMRA
Name: business_id, dtype: object

In [70]:
reviews_json_path = r'C:\Users\ziggy\Springboard\Python_Projects\Yelp Restaurant Analysis\Data\yelp_academic_dataset_review.json'
reviews = pd.read_json(reviews_json_path, lines=True, chunksize=1000000)

In [71]:
for chunk in reviews:
    print(chunk)

                     review_id                 user_id  \
0       KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA
1       BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q
2       saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A
3       AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ
4       Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ
...                        ...                     ...
999995  t-2o35kr7Q9DSaeuKhaDuQ  oX7o1TH0PHUWp9r9ry9_vw
999996  fLIwWCvdul9PNWYfJt5QWA  v8wlapFKVLs2qTYCGhCdiw
999997  ETAiy6wEM-r9ve4SKDhBpg  rLlYc1RzIBnOmnX3AbpEYw
999998  8OgvSXuc6KjAt2fSz9LuzA  eEH-8CEPU5ndPxDGzVfHiQ
999999  TQoVzNXqDkiDXgzlw8cyaQ  HYmGwYXvcYmW7dDjuWKJfw

                   business_id  stars  useful  funny  cool  \
0       XQfwVwDr-v0ZS3_CbbE5Xw      3       0      0     0
1       7ATYjTIgM3jUlt4UM3IypQ      5       1      0     1
2       YjUWPpI6HXG530lwP-fb2A      3       0      0     0
3       kxX2SOes4o-D3ZQBkiMRfA      5       1      0     1
4       e4Vwtrqf-wpJfwesgvdgxQ      4       1      0     1
...                        ...    ...     ...    ...   ...
999995  jLn69WQupjsDKrbPw_nlGQ      3       0      1     0
999996  t6v8g8UeNiq3O2GoEc7R4Q      4       0      0     0
999997  ZYRul0i1bhOjirHED6Kd0w      3       0      0     0
999998  onGXKwnxPLtKnO8yqQMPSA      1       1      0     1
999999  54vEFcAri3Wj6cdM4ljDBA      4       2      1     0

                                                     text                date
0       If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1       I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2       Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3       Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4       Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15
...                                                   ...                 ...
999995  Never really had any issues here other than th... 2017-11-15 09:43:07
999996  Fish recently moved a couple of doors down the... 2014-09-03 18:27:33
999997  I've been to South House around a dozen or so ... 2016-02-20 22:25:29
999998  Wow! I am shocked at these reviews. I have tri... 2010-06-27 02:17:30
999999  headed to St. Louis for a little getaway with ... 2012-11-05 03:25:02

[1000000 rows x 9 columns]
                      review_id                 user_id  \
1000000  1yzkzMBuDc0oIATmm-YT6A  batsML880B8-BMV1YBh0VQ
1000001  p1He-R5tvsxamxNF0Bf-cg  T9n6TKhnkqwh7u3a70O-pQ
1000002  fOOZEC8D2f1hI6bs08X3gQ  4zUi7exGanxHz_zXJuHjMw
1000003  ZoeZ_aC_CiWSuqvfe38nAQ  bHNxtcIKeU5Ifnd4BwBoWw
1000004  ygAtxZ1Gaimqj8IZGPobRA  W9zN7u6b-e3bkZ69W92fig
...                         ...                     ...
1999995  5Kj5gEHBP8SIYeiwaNV9xg  Ux0CsHDQvEbtZXlGDgcCHg
1999996  wQq7vGWf8euzUk7TkoVAXw  5jKScvMqxW_rzd0D8xgX1A
1999997  eAKeO7EX8kSKsCBcq7mKTA  _Redmmq2oiUvMFhzS-CAVA
1999998  HaY4k2iVPhcTOwfGVPlYSg  BnMfYA-c2YQbzVMto2wO5w
1999999  MmFruENWfbqghG5hwJhIaw  p465OiphoWkYQDnbK_hLIg

                    business_id  stars  useful  funny  cool  \
1000000  NLV0ppsHTiJk6JVdFSxVAQ      5       1      0     0
1000001  c_xAbBTeiIHqPm1zMOvQcg      5       0      0     0
1000002  Sv1MEZP-mMfp8SmE0hwYEA      5       0      0     0
1000003  KBG3GV4WHU-iLLSWiapbJw      4       0      0     0
1000004  BX3LLonrLLLfVX-tNrE7yA      5       1      0     0
...                         ...    ...     ...    ...   ...
1999995  TGiTwNYy3ZvOoHTT7ZHpgg      1       0      0     0
1999996  kOmhn5Eo6AWzMVL6ALRq2Q      5       2      0     1
1999997  m6ZcOrHJHYmIPhjgh8cycw      2       0      0     0
1999998  YCfMNP_1YCTXTKlrnw44vQ      5       0      0     0
1999999  YceIYPMBP3oKcuEFhj2_Gg      5       0      0     0

                                                      text                date
1000000  Pleasantly intrigued by the combination of bre... 2016-05-29 00:29:56
1000001  I am not sure what I was expecting, but this w... 2016-11-19 04:50:47
1000002  Mmm....still thinking about it right now. The ... 2015-01-18 06:41:40
1000003  Very good even by Nashville and non-Nashville ... 2011-05-10 02:24:14
1000004  New location is beautiful! This location is st... 2017-11-28 18:22:51
...                                                    ...                 ...
1999995  Had to wait over 20 minutes for my order, then... 2020-09-20 00:13:27
1999996  Very good food!! My wife and I got crab legs, ... 2020-06-11 23:25:17
1999997  Food was just ok, nothing to write home about.... 2020-12-02 23:02:55
1999998  Great spot!   Food and service was terrific!  ... 2021-01-09 02:45:57
1999999  My ten-year-old Sheltie, Diane, had a severe l... 2020-12-04 22:23:55

[1000000 rows x 9 columns]
                      review_id                 user_id  \
2000000  NxIV6YoOfsiBSxrNF5i1Dw  r5YAim_lxd4Js2gQVGeLsw
2000001  S4ULMYax-92NERQvAivrfw  QJIbIcjPb6qhRnb1d4sTjg
2000002  uClUShLNMwHJNLgS9J5poQ  IiVjDaSDELbxLIWu0_Ucrw
2000003  3DrBtGCx4N3aXrbpDAxExg  K2vRxDY1uuxtm_YEEfQ9wQ
2000004  uNXSrvw9jO4jarViJcfmvg  ctgPXpW4NitQisBWHaS1YA
...                         ...                     ...
2999995  gZlc76DGyo3IK4tznEdO9A  yy0MrguMeuPuojEZdlEVHA
2999996  Ju60Eqh9BwzkokqW3orChg  mjxWgGxFIIy13Vo02_HksQ
2999997  b6NXauz7dbzWXf6Y8zNbVA  WWfAP9hq9ldiUOm5ijQliw
2999998  E8G36-PTiuH4U4j8yKSNQw  eLkEcFGpwqMaL6Cq5axmcA
2999999  yAUrbmFOYwg9CgeKUPvSZA  Sejmtp5di6lxUcEWJV8TnQ

                    business_id  stars  useful  funny  cool  \
2000000  T3Bbtht3jO2izyO6f6W8bg      5       3      0     4
2000001  EY5cTfLf9BNG3tgoez9fKg      5       0      0     0
2000002  6nCLoE5WfY69AywtTmg2Lg      5       2      0     0
2000003  wMQMMxaGq0HPG0mApezXMw      5       1      0     0
2000004  5uhG34VRsD0A6lOY8F41Dg      5       0      0     1
...                         ...    ...     ...    ...   ...
2999995  2TW0TCqrRxyolGb3S_uTiA      3       0      0     0
2999996  gEmVqHPesM4z0dC3nOnkUw      4       3      8     1
2999997  HotEtVKhb7SVb7AFgp4O1g      5       0      0     0
2999998  6NFKMheqAVk9Sa2hqssAMw      5       1      0     0
2999999  Ydu9tZPmGV31A2wgsLhyPA      5       0      0     0

                                                      text                date
2000000  Pros: Makaylah: our bartender and server, she ... 2020-10-31 00:18:49
2000001  Authentic and Perfect! \nAs someone who's as b... 2021-02-09 03:12:34
2000002  Great fresh food for lunch, I had the appetize... 2020-10-30 00:04:00
2000003  I heard good things about Ahi when I moved to ... 2020-05-03 01:21:43
2000004  The Habit is yummy. Had a charburger with chee... 2021-02-09 05:32:37
...                                                    ...                 ...
2999995  This place is quite meh. It's nothing phenomen... 2016-08-18 23:24:18
2999996  Nah for real... I'm bouta put y'all on some re... 2016-04-06 20:16:10
2999997  The chicken curry here is the best I've had in... 2013-09-17 15:57:33
2999998  It is really hard to compete with Red Robin bu... 2018-06-30 02:21:51
2999999  Loved this place!! The masala dosas are out of... 2016-09-11 16:20:41

[1000000 rows x 9 columns]
                      review_id                 user_id  \
3000000  HcA750mPTtKUYuWfHR7vAA  3vofzamIMkrS0PPf5aSmRQ
3000001  4C_k3xCaSdFXcotVICxYLg  tCRK0DNqtudWuLEq3IInhA
3000002  LInUEmtPAqlcqlk8DfrD9Q  60RKNAZwY5EUooJf624aKw
3000003  Dkl-JP_lPuDdE1ka8KMBFA  3jG-b8U7bnE1FPiCl_CE-Q
3000004  JgZFJVhMiOxcSWK2QAub6g  qwy5ZpzXgWCB2TMDmCpKLQ
...                         ...                     ...
3999995  5v7TX6iWkQE-pZxdq9AGsg  IML25ULTDCnR_o58BIQWuA
3999996  WuJKJp0VocGryMzFmWFZdg  W83aZrDrYKwycCHB_eOYYg
3999997  lZ1Fu3ZMeObL_flSpD7dEg  sZNhZKXbt1zGOP4kg-vGfA
3999998  tQp4Y4dJMosEi3D6uOoCFw  jE_kjPwK2UbrQc4P7kgpGg
3999999  7acX38OdeuhMtwupF3H49w  Qux_wztMIMRcaxaZt6VNtg

                    business_id  stars  useful  funny  cool  \
3000000  7_1GqlDlbkShY0az7J0XNg      4       0      0     0
3000001  Sd8NrlgB6SY6GEtIjPupfA      4       0      0     0
3000002  ikONTzFKwachQtFtoMGeIQ      4       3      0     5
3000003  XXFW9msW3P-p6t6vV0cpeg      1       1      1     1
3000004  B2Rk_FNhgFF-XOwesQw7FA      1       0      0     0
...                         ...    ...     ...    ...   ...
3999995  YVvm1Q3ir5TET0f66FOX_g      5       4      1     3
3999996  mFd-j_KM90IOamGmoN5AQA      4       2      1     2
3999997  Up1oOg7UxxH6kb_YgkSrAw      5       0      0     0
3999998  ffgRv8hnLdAZ_OTkfHcIaA      1       0      0     0
3999999  zT98ZdtdWf0TTZMkKtHSeg      1       1      0     0

                                                      text                date
3000000  So this place has the best OUTDOOR SEATING in ... 2011-08-15 08:16:03
3000001  Great food and prices. I recommend the gyro. P... 2014-10-18 22:46:47
3000002  Excellent pizza, salad and service! I came for... 2018-01-18 04:07:13
3000003  This place is just terrible!!!  We read the re... 2014-02-16 03:56:18
3000004  I took my family of four to dinner and the foo... 2014-08-31 15:52:03
...                                                    ...                 ...
3999995  Hot Damn! Authentic and fresh, these dishes we... 2014-06-25 02:15:59
3999996  Love, love, love \n\nTaco trio OMG. The roaste... 2018-11-06 16:13:38
3999997  These guys are amazing. Passion project, hand ... 2019-08-15 12:40:34
3999998  I couldn't get a cone for less than $7.09 for ... 2019-12-22 14:17:03
3999999  This location regularly overbooks appointments... 2018-08-15 18:35:16

[1000000 rows x 9 columns]

                      review_id                 user_id  \
4000000  tNx450494cTULI7CmykEyA  iOrUgvydcxIDlW78bchkRA
4000001  LLus2Mkw4C3PgdPIbm2WoQ  9g2yOSgIpHq3gcpX756HeQ
4000002  LQelK02_SN2nkvuhbLRpkg  BsMKUneO8WI0NIuXTnLVaQ
4000003  lajxWuowVIOSTRYeSoeFdQ  u5UOl-Jsq1ozwWX84m_kBQ
4000004  W-1q9mQNlfXTDtd9DPoqgA  Xv6bH6p63DUheLu5b5ngfg
...                         ...                     ...
4999995  ylWAkYNyMUE89wZi3mfF_w  SCqdOpu99eB8si3O4VNGZw
4999996  RFKsfcOutfhFM9V_K8FUUw  T9nDMe9mljDsAV7MvxcvOw
4999997  uuf4-lsOdDNGaxGX7kdKvQ  jh7CWRWIHNPR_n9GQn6Qww
4999998  lHXmsAIvC8hfA0fl3qKlOQ  NIhcRW6DWvk1JQhDhXwgOQ
4999999  VOTAzkPCl69iZCKg7VPQog  ePR435P_LXoEglMnvx5Wtw

                    business_id  stars  useful  funny  cool  \
4000000  LU7WfvB9o5_JSW5IMvGedg      5       0      0     0
4000001  6_T2xzR74JqGCTPefAD8Tw      3       1      0     0
4000002  h7TO_IsmLCYmKKDVOOIeFw      5       0      0     0
4000003  ZfAILO2iad90fCDtratcKg      4       0      0     0
4000004  BZnIJonWPti26onuyWQOPw      1       1      2     1
...                         ...    ...     ...    ...   ...
4999995  RFsp1nH2fHVyAdTSMDWuNg      3       1      1     1
4999996  XC30E7D4gfIrLmh4d4prSw      4       0      0     0
4999997  SGi8AJhR8iS-LsQwcMOAVA      5       0      0     1
4999998  IWHdx0NhDKADkGOgXgOFKQ      5       9      4     5
4999999  4uDKV1p3sFt66gGNjx18YQ      4       0      0     0

                                                      text                date
4000000  I never knew what "Peak" roasted coffee was un... 2019-01-29 04:08:38
4000001  The wagyu did its best to rescue Morimoto from... 2017-11-28 05:42:40
4000002  Favorite sushi place. So many options, fresh f... 2019-09-28 05:23:20
4000003  The price was right. Wish they had jasmine tea... 2019-09-27 17:43:13
4000004  Rude rude rude people. Came by when they were ... 2017-02-28 19:28:59
...                                                    ...                 ...
4999995  I haven't eaten a lot of Thai food in Reno, ma... 2009-10-26 12:14:40
4999996  Good food with generous portions. I had the ch... 2018-09-07 23:06:07
4999997  Beer.  Lots and lots of beer.\nIf you can't fi... 2013-03-27 16:27:03
4999998  I love a great sandwich and DiNic's shaved por... 2014-08-17 01:32:46
4999999  Pretty yummy for your typical take out Chinese... 2016-02-02 21:56:53

[1000000 rows x 9 columns]
                      review_id                 user_id  \
5000000  ioNJc8Jbc91LNeXYU1cxWg  UlYXVV0Ls5UwJzUqt_m7mQ
5000001  LO5p8flmEWqUUQNFnmgFBA  PhJQ6n59_QWZGVfAkryQ1Q
5000002  q6hqznQCLqnQuFYZudkwuw  EMJV9rib660I4RpMsbzWbg
5000003  5PRQGXbPV5uojvKT5G6vZA  Zs8Zk3sgh5JxRmoZW4PJcg
5000004  sF6oKpIrT43owFOZUfTpSw  4-M38FPX7WsfQmmbXYD8BQ
...                         ...                     ...
5999995  qmS62hb8F_Bn_g1dONUbfw  tuoDDqTDCB-lDgelvMrp5Q
5999996  x2_tn_RME9Mg-KkZOM59Gw  427qVnuuXqu7yAAznS3tBA
5999997  P9qHgjRLh44QRMaVgs8pDw  eYd1sygl0Thd2JRQTVgX5A
5999998  hkMLluL1NKKeujJM3XeNuA  kFpXqhC8gEspuUxJ4O7uqA
5999999  xk0qraFoLlZrN-qsaVM37g  sVer7l3TKwICjZ6liQD53Q

                    business_id  stars  useful  funny  cool  \
5000000  YJDk7V279i7ZftgJmsj-AQ      5       0      0     0
5000001  oOLxSrq4qYkZXPq18Es32g      1       0      0     0
5000002  pqwx5KCx2pZBo7QHqRLhdA      3       2      0     1
5000003  qsm7SkX60JsajT7Yz248FA      4       0      0     0
5000004  D2igy5Aexgdk8d-DV2K1vw      4       0      0     0
...                         ...    ...     ...    ...   ...
5999995  SvDyTNMMznMKt_W1IQ1v6Q      4       1      0     0
5999996  5ELNy7sHTCldOo5QdipBzA      5       0      0     0
5999997  r-qXw4hn_eRTUq4BL2DwvQ      5      28     15    31
5999998  YSRM9nWQn40eg49tSiI-_Q      3       2      2     0
5999999  8qhSEJ27l14Uv3Bger4eVQ      4       3      1     3

                                                      text                date
5000000  As an update, my husband and I have now been p... 2014-05-13 12:26:30
5000001  I've given up trying to like this place. If yo... 2016-10-06 00:37:46
5000002  I've had the unfortunate luck of having to vis... 2011-10-08 03:35:56
5000003  Cafe Soho is the highlight to the Sunday footb... 2013-11-22 20:42:45
5000004  I don't do Hookah much or hardly at all but th... 2016-02-15 19:36:50
...                                                    ...                 ...
5999995  This alehouse by the stadium is a great place ... 2018-03-18 11:43:55
5999996  We came by because my mom's computer wasn't st... 2018-12-09 20:09:30
5999997  Lettuce rejoice for this is the best $2 you mi... 2018-10-12 23:58:07
5999998  The Mi Nidito restaurant is in my opinion over... 2018-06-29 20:00:12
5999999  I went for brunch on Sunday. Overall, I was pl... 2016-08-09 10:01:48

[1000000 rows x 9 columns]
                      review_id                 user_id  \
6000000  LEt_rcvZ9UsAhQCRGRBkVQ  rWQaJXlszSGjbpeOhc6MpA
6000001  nfHyQfb1oTTvGevA0JrqNg  M0N8g7gkV4bkjUDRsyZKTA
6000002  K4gdzC3ut1SJAkHWR_YGQQ  7YtZgk47gwcUZZSc68_41A
6000003  7hGVG9nUzhpiiSAniPDTbg  iExzs4voEa1-N0bSYODg1A
6000004  1z_2diaMLhSkc0z4L0BxnQ  6AI8lK1tnlOjoWF0qpLyog
...                         ...                     ...
6990275  H0RIamZu0B0Ei0P4aeh3sQ  qskILQ3k0I_qcCMI-k6_QQ
6990276  shTPgbgdwTHSuU67mGCmZQ  Zo0th2m8Ez4gLSbHftiQvg
6990277  YNfNhgZlaaCO5Q_YJR4rEw  mm6E4FbCMwJmb7kPDZ5v2Q
6990278  i-I4ZOhoX70Nw5H0FwrQUA  YwAMC-jvZ1fvEUum6QkEkw
6990279  RwcKOdEuLRHNJe4M9-qpqg  6JehEvdoCvZPJ_XIxnzIIw

                    business_id  stars  useful  funny  cool  \
6000000  dAZASdppYH5DQvXLlzGiow      4       1      1     0
6000001  PhO1GC_o2DbOIlbODRiu1w      4       0      0     0
6000002  QA8QLpwf_YT9C2ST5YJ0vw      1       0      0     0
6000003  zropQGh2fc7PMpzd32vneQ      3       2      0     2
6000004  ramBBnf8_ZAZ16aUnSUMJg      2       3      0     0
...                         ...    ...     ...    ...   ...
6990275  jals67o91gcrD4DC81Vk6w      5       1      2     1
6990276  2vLksaMmSEcGbjI5gywpZA      5       2      1     2
6990277  R1khUUxidqfaJmcpmGd4aw      4       1      0     0
6990278  Rr9kKArrMhSLVE9a53q-aA      5       1      0     0
6990279  VAeEXLbEcI9Emt9KGYq9aA      3      10      3     7

                                                      text                date
6000000  Very good food here!  Casual dining in the Don... 2017-05-12 23:58:29
6000001  I've been here twice and was generally pleased... 2019-02-18 21:34:37
6000002  The bar 33 is nice but restaurant overrated, h... 2016-05-15 05:00:45
6000003  The place is located inside the new China Town... 2017-04-06 23:17:53
6000004  Ordered Chicken Fried Rice. Rice was not fried... 2018-11-27 02:18:43
...                                                    ...                 ...
6990275  Latest addition to services from ICCU is Apple... 2014-12-17 21:45:20
6990276  This spot offers a great, affordable east week... 2021-03-31 16:55:10
6990277  This Home Depot won me over when I needed to g... 2019-12-30 03:56:30
6990278  For when I'm feeling like ignoring my calorie-... 2022-01-19 18:59:27
6990279  Located in the 'Walking District' in Nashville... 2018-01-02 22:50:47

[990280 rows x 9 columns]

In [73]:
reviews = pd.read_json(reviews_json_path, lines=True, chunksize=1000000)
df_rev = pd.concat(reviews, ignore_index=True)
df_rev.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [84]:
m = df_rev.business_id.isin(df_res.business_id)

df_rev = df_rev[m]

In [87]:
df_rev = df_rev[['business_id', 'stars', 'text', 'date']]

In [88]:
df_rev.to_csv('Reviews')